<footer class="Page__footer">
    <div class="margin">
        <div class="Footer__list">
            <ul>
                <li class="List__item" ng-repeat="item in [1,2,3]">
                    <h4> Integer ornare</h4>
                    <p>Aenean posuere nulla erat, id vulputate sapien vestibulum pretium.</p>
                </li>
                <li class="List__item">
                    <h4> Integer ornare</h4>
                    <div class="List__social">
                        <div class="Social__item">
                            <a href="" class="facebook">
                              <i class="fa fa-facebook"></i>
                            </a>
                        </div>
                        <div class="Social__item">
                            <a href="" class="twitter">
                              <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                        <div class="Social__item">
                            <a href="" class="google">
                              <i class="fa fa-google"></i>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</footer>
